---
import Layout from "../layouts/Layout.astro";
import backgrounds from "/backgrounds/Trainings.png";
---

<section class="hero-background" background-image="backgrounds">

</section>


<style>
    .hero-background {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-size: cover;
        background-position: center;
        height: 100vh;
        padding: 20px;
        text-align: center;
    }
</style>