---
import Layout from "../layouts/Layout.astro";
import logo from "../assets/images/Erovoutika Dubai logo.png";
import password_icon from "../assets/show-hide-password.png";
---
<Layout>
    <section class="hero-background" style={`background-image: url(${"/backgrounds/Trainings.png"});`}>
        
        <div class="form-container">
            <img class="erovoutika-logo" src={logo.src}/>
            <div class="form-content">
                <h1 class="admin-login">Admin Login</h1>
                <form class="admin-form">
                    <div class="email">
                        <input type="email" placeholder="Email Address" required />
                    </div>
                    <div class="password">
                        <input type="password" placeholder="Password" required />
                        <i class="pass-eye">
                            <img src={password_icon.src} class="fa-eye" alt="eye" />
                        </i>
                        <div class="forgot-password">
                            <a href="#">Forgot Password?</a>
                        </div>

                        <div class="have_account">
                            <p>Didn't have an account? <a href ="/Admin_SignUp"><u>Sign Up</u></a></p>
                        </div>
                    </div>
                </form>
                <button class="login-button">
                    <span>Log In</span>
                </button>
            </div>
        </div>
    </section>    
</Layout>

<style>
    .hero-background {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        text-align: center;
        height: 100vh;
    }
    .form-container {
        display: flex;
        flex-direction: column;
        padding: 20px;
        border-radius: 10px;
        align-items: center;
        width: 80%;
        height: fit-content;
        gap: 30px;
    }
    .erovoutika-logo{
        width: 180px;
        height: 68px;
        margin: 20px;
    }
    .form-content {
        display: flex;
        width: fit-content;
        height: fit-content;
        padding: 40px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
        border-radius: 10px;
        background: #F3F3FB;
    }
    .admin-login {
        color: #181D27;
        text-align: center;
        font-family: Inter;
        font-size: 32px;
        font-style: normal;
        line-height: 44px;
    }
    .admin-form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }
    .form-content input {
        width: 100%;
        padding: 10px;
        border-radius: 5px;
        border: 1px solid #ccc;
        font-size: 16px;
        font-family: Inter;
    }
    .email {
        position: relative;
        width: 330px;
    }
    .password {
        position: relative;
        width: 330px;
    }
    .pass-eye {
        position: absolute;
        right: 10px;
        top: calc(15%);
        cursor: pointer;
    }
    .forgot-password{   
        margin-bottom: 10px;
        margin-top: 10px;
        text-align: right;
        width: 330px;
        color: rgba(0, 0, 0, 0.50);
        text-align: right;
        font-family: Inter;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 14px; /* 100% */
        letter-spacing: -0.28px;
        text-decoration-line: underline;
        text-decoration-style: solid;
        text-decoration-skip-ink: auto;
        text-decoration-thickness: auto;
        text-underline-offset: auto;
        text-underline-position: from-font;
    }
    .login-button {
        width: 50%;
        padding: 10px;
        background-color: #233876;
        color: #fff;
        border: none;
        border-radius: 5px;
        font-size: 16px;
        cursor: pointer;
        font-family: Inter;
    }
    
    .login-button:hover {
        background-color: #ccc;
        color: #233876;
        transform: scale(1.05)
    }

    .have_account {
        color: #181D27;
        text-align: center;
        font-family: Inter;
        font-style: normal;
    }
    .have_account a {
        color: #443DFF;
    }

    @media (max-width: 768px) {
        .hero-background{
            background-size: cover;
            background-position: center;
        }
        .form-container {
            min-height: fit-content;
            width:auto;

            margin: 10px;
        }

    }

    @media (max-width: 320px) {
        .hero-background{
            background-size: cover;
            background-position: center;
            width: max-content;
            height: 140vh;
        }
        .form-container {
            min-height: fit-content;
            width:auto;

            margin: 10px;
        }
        .email {
        position: relative;
        width: 300px;
    }
    .password {
        position: relative;
        width: 300px;
    }

    }
</style>