---
import background from '/backgrounds/Trainings.png';


---
<body class="hero" style={`background-image: url(${"/backgrounds/Trainings.png"});`}>
    <div class="table-container">
        <h1 class="title">Nominations</h1>
        <div class="table-wrapper">
            <table class="nominations-list">
                <thead>
                    <tr>
                        <th>Count</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Designation</th>
                        <th>Contact</th>
                    </tr>
                </thead>
                <tbody id="nomination-table-body">
                    
                </tbody>
            </table>
        </div>
    </div>
</body>

<style>
    .hero {
        display: flex;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        margin: 20px 20px 20px 20px;
        height: 100vh;
    }
    .table-container {
        display: flex;
        flex-direction: column;
        padding: 20px;
        border-radius: 10px;
        width: 100%;
        gap: 10px;
        background-color: #b8c3e62f;
        backdrop-filter: blur(50px);
    }
    .title {
        font-size: 42px;
        margin: 5px 0px 5px 0px;
        font-family: Inter;
        color: #F3F3FB;
    }
    .table-wrapper {
        border-radius: 
        overflow: hidden;
    }
    .nominations-list {    
        font-family: Inter;
        font-size: 14px;
        text-align: left;
        vertical-align: middle;        
        width: 100%;
        border-collapse: separate;
        border-radius: 10px;
        border-spacing: 0;
        padding:2px;
        overflow: hidden;
    }
    .nominations-list th {
        background-color: #233876;
        color: white;
        padding: 10px;
        border: 1px solid #ddd;
    }
    .nominations-list th:first-child {
        border-top-left-radius: 10px;
    }
    .nominations-list th:last-child {
        border-top-right-radius: 10px;
    }
    .nominations-list td {
        padding: 10px;
        background-color: #F3F3FB;
        border: 1px solid #ddd;
        color: #233876;
    }
    .nominations-list tr:last-child td:first-child {
        border-bottom-left-radius: 10px;
    }
    .nominations-list tr:last-child td:last-child {
        border-bottom-right-radius: 10px;
    }

</style>

<script>
    interface NominationValueType {
    firstName: string;
    lastName: string;
    designation: string;
    contact: string;
    }

    const table_body = document.getElementById('nomination-table-body') as HTMLTableSectionElement;

    function renderTable() {
        const data: NominationValueType[] = JSON.parse(localStorage.getItem('nominations') || '[]')
        
        table_body.innerHTML = '';

        data.forEach((entry, index) => {
            const { firstName, lastName, designation, contact } = entry;
            const row = document.createElement('tr');
            row.innerHTML = `
                <td>${index + 1}</td>
                <td>${firstName}</td>
                <td>${lastName}</td>
                <td>${designation}</td>
                <td>${contact}</td>
            `;
            table_body.appendChild(row);
        });
    }
    renderTable();
    window.addEventListener('nominations-updated', renderTable)
</script>