---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <div class="flex justify-center items-center mx-auto w-50 h-full p-4">
        <div class="text-center my-5 cen">
            <button
                id="toggleBannerButton"
                class="px-6 py-2 bg-blue-500 text-white rounded-md hover:bg-blue-600 transition"
            >
                Toggle Banner
            </button>
        </div>
    </div>
</Layout>
