---
import Welcome from '../components/background.astro';
import Navbar from '../components/navbar.astro';
import About from '../components/about.astro';
import Info from '../components/info.astro';
import Layout from '../layouts/Layout.astro';
import CardSection from '../components/card-section.astro';
import "../styles/fonts.css";
import "../styles/global.css";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<Navbar />
	<About />
	<div class="container px-10 mx-auto">
		<div class="lg:flex sm:flex md:flex lg:items-top">
		<CardSection />
		<Info/>
	</div>
	</div>
	<Welcome />
</Layout>
