---
import Highlights from "../components/Highlights.astro";
import Robolution from "../components/Robolution.astro";
import FreAsk from "../components/FrequentlyAsk.astro";
import Layout from "../layouts/Layout.astro";

---

<Layout > 
        <Robolution/>
      <div id="background">
        <Highlights/>

        {/* add other web page section here */}

        
      </div>

        <div id="bgFreAsk">
        <FreAsk />
      </div>
    
</Layout>

<style>
    #background {
      background-image: url("./homepage.png");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      background-color: transparent;
    }

    #bgFreAsk {
      background-color: '#0B0221';
      width: 100%;
      height: 80px;
      }
  </style>

