---
import Highlights from "../components/Highlights";
import Robolution from "../components/Robolution";
import FreAsk from "../components/FrequentlyAsk";
import Layout from "../layouts/Layout.astro";
---

<Layout>
    
      <Robolution/>
    <div id="background">
      <Highlights/>
      <FreAsk />
    </div>
</Layout>

<style>
    #background {
      background-image: url("./homepage.png");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      background-color: transparent;
    }
  </style>

