---
import Layout from "../layouts/Layout.astro";
import "../styles/training_and_tournament.css";
---


<Layout>

    <main class="page-content-intro">
      <section class="trainings_and_tournaments">
        <h1>JOIN US</h1>
        <p>For an International Training & Tournament Camp<br>
        In Robotics & Automation and Cybersecurity with<br> Certification!</p>
      </section>
      <section class="details">
        <div>
        <img src="/images/welcome_dubai.png" alt="Dubai Logo" />
        </div>
      </section>
    </main>
    <main class="page-content-body">
      <section class="main-details">
        <h1>What Should <span class="highlight">YOU</span> Know?</h1>
        <p>This camp is designed to enhance your skills with hands-on<br>
        training, expert-led sessions, and global networking<br> opportunities</p>
      </section>

      <section class ="banner-details">
        <h3>
          Don't miss this chance to level up your career in cutting-edge technology!
        </h3>
      </section>
      <section class="card-info">
        <div class="card">
          <div class="icon-text-container">
            <span class="icon"><i class="fa-solid fa-calendar-days"></i></span>
            <div class="text">
              <p class="title">DATE</p>
              <p class="details">Dec. 15-18, 2025</p>
            </div>
          </div>
        </div>
      
        <div class="card">
          <div class="icon-text-container">
            <span class="icon"><i class="fa-solid fa-location-dot"></i></span>
            <div class="text">
              <p class="title">WHERE</p>
              <p class="details">Al-Barsha-Dubai</p>
            </div>
          </div>
        </div>
      
        <div class="card">
          <div class="icon-text-container">
            <span class="icon"><i class="fa-solid fa-money-check-dollar"></i></span>
            <div class="text">
              <p class="title">EVENT FEE</p>
              <p class="details">250 AED</p>
            </div>
          </div>
        </div>
      </section>

      <section class ="banner-register">
        <div>
        <h2>Reserve Your Slot Now!</h2>
        <button class="register" onclick="window.open('https://docs.google.com/forms/d/19oF1ymwkBek8hsj_ZtxSxcfvQTqg9ViUseUFHBDtqS8/preview?fbclid=IwY2xjawItESpleHRuA2FlbQIxMAABHRuGmMOt5eKqs2HOK3fkRv9KCl4S4iGqfiBdPG2ACMeZPJ394R9DGQwakQ_aem_y9INSaTR6z7es73RfY3gaw', '_blank');">REGISTER</button>
      </div>
      </section>

    </main>

  </Layout>


