---
const image = "/src/assets/images/backgrounds/Main.jpg";
import { fetchPageContent } from "../db";

const data = await fetchPageContent("Home");
---

<section
    style={`background: linear-gradient(to top, rgba(0, 0, 0, 0.3), rgba(0, 0, 139, 0.7) 90%); background-size: cover; background-repeat: no-repeat; background-position: center;`}
    class={`flex justify-start items-center w-full bg-cover h-full bg-no-repeat bg-center p-[40px]`}
>
    <div class="absolute top-0 left-0 w-full h-full -z-10">
        <video
            autoplay
            muted
            loop
            playsinline
            class="absolute top-0 left-0 w-full h-full object-cover"
        >
            <source src={data.hero.videoDirectory} type="video/mp4" />
            Your browser does not support the video tag.
        </video>
    </div>

    <div
        class="m-15 lg:m-40 flex flex-col lg:h-screen w-[400px] lg:w-full max-w-[784px] py-35 lg:py-56"
    >
        <div class="w-full h-auto">
            <h1
                id="mainText"
                class="mb-4 text-6xl leading-none text-white lg:text-[120px] font-bebas"
            >
                {data.hero.mainText}
            </h1>
        </div>
        <div class="w-full h-auto">
            <p class="text-left mb-8 text-lg font-normal text-white lg:text-xl">
                {data.hero.subText}
            </p>
        </div>
        <div class="flex items-center justify-start mt-8">
            <a
                href="#packages"
                class="inline-flex justify-center items-center py-3 px-5 text-base font-medium text-center text-[#212529] rounded-full bg-white hover:scale-105 focus:ring-4 focus:ring-blue-300 transition-all duration-300 ease-in-out"
            >
                {data.hero.buttonText}
                <svg
                    class="w-3.5 h-3.5 ms-2 rtl:rotate-180"
                    aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 14 10"
                >
                    <path
                        stroke="currentColor"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M1 5h12m0 0L9 1m4 4L9 9"></path>
                </svg>
            </a>
        </div>
    </div>
</section>
