---
const image = "/src/assets/images/backgrounds/Main.jpg";
import { fetchPageContent } from "../db";

const data = await fetchPageContent("Home");

console.log(data);
---

<section
    style={`background-image: url('${data.hero.imageDirectory}')`}
    class={`100vh w-full bg-cover bg-no-repeat bg-center`}
>
    <!-- <Nav /> -->
    <div class="px-4 mx-auto max-w-screen-xl h-screen text-left py-24 lg:py-56">
        <div class="md:w-fit lg:w-xl h-auto">
            <h1
                id="mainText"
                class="mb-4 text-4xl  leading-none text-[#212529] text-[120px] font-bebas"
            >
                {
                    (
                        <span class="text-white">
                            {data.hero.mainText.split(" ")[0]}
                        </span>
                    )
                }
                {data.hero.mainText.split(" ").slice(1).join(" ")}
            </h1>
            <p
                class="text-left mb-8 text-lg font-normal text-[#212529] lg:text-xl"
            >
                {data.hero.subText}
            </p>
            <a
                href="#"
                class="inline-flex justify-center items-center py-3 px-5 text-base font-medium text-center text-[#212529] rounded-full bg-white hover:bg-amber-50 focus:ring-4 focus:ring-blue-300"
            >
                Get started
                <svg
                    class="w-3.5 h-3.5 ms-2 rtl:rotate-180"
                    aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 14 10"
                >
                    <path
                        stroke="currentColor"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M1 5h12m0 0L9 1m4 4L9 9"></path>
                </svg>
            </a>
        </div>
        <div class="flex space-y-4 sm:flex-row sm:justify-center sm:space-y-0">
        </div>
    </div>
</section>
