---
import about from '../assets/about_logo.png';
---

<!--<div class="relative mx-8 max-w-screen-xl xl:max-w-[1385px] px-8 sm:px-10 md:px-20 lg:px-28 xl:px-0 py-4 sm:py-6 md:py-10 mt-5 flex items-center gap-10">
     Image Section 
    <img id="about-logo" src={about.src} class="w-auto h-auto max-w-[50px] max-h-[50px] sm:max-w-[80px] sm:max-h-[80px]" />
</div>
 -->

<div class="relative mx-10 max-w-screen-xl xl:max-w-[1385px] px-30 py-15 mt-5 sm:px-5 flex items-center gap-10 lg:px-0 transition">
	<!-- Image Section -->
	<img id="about-logo" src={about.src} class="w-[50px] h-[50px]" />
  
	<!-- Text Section -->
	<div class="max-w-xl text-center ltr:sm:text-left rtl:sm:text-right sm:flex md:flex ">
		<h1 class="text-2xl poppins-bold sm:text-3xl drop-shadow-lg ">
			ABOUT US
		  </h1>
		  
	</div>
  </div>