---
import card from '../assets/Rectangle.png';
---

<!-- card -->
	<article class=" relative mx-10 overflow-hidden sm:h-max lg:h-[400px] w-[480px]  rounded-[35px] shadow-[#1C1E53] transition hover:shadow-lg px-10 sm:px-8 lg:px-15">
	<div class="px-10">
	<img id = "card" src={card.src} alt="" fetchpriority="high"
	  class="absolute inset-0 h-full w-full object-cover"
	/></div>

  
	<!-- statement section -->
	<div class="relative pt-[10px] sm:pt-[50px] lg:pt-10">
	  <div class="p-4 sm:p-6">
		<a href="#">
		  <h3 class="mt-3 text-sm text-white ramabhadra-regular break-words text-justify">Our aim is to assist our clients in getting their need and requirement in the quickest possible time frame, in the most professional manner. We pride ourselves on providing the </h3>
		</a>
		<p class="mt-2 text-4xl text-white ramabhadra-regular break-words drop-shadow-xl ">
			highest quality service, at the most reasonable cost.
		</p>
	  </div>
	</div>
  </article>
