---
import CheckIcon from '../assets/check.svg';
import DollarIcon from '../assets/dollar.svg';
import LikeIcon from '../assets/like.svg';
import SecurityIcon from '../assets/security.svg';
---
    
<div class="relative w-full left-[150px] space-y-2 lg:w-1/2 -mt-20">
    <div class="md:flex md:items-start md:-mx-2">
        
                        <img src={CheckIcon.src} alt="Check Icon" class="w-[60px] h-[60px]"> </img>

                    <div class="mt-4 md:mx-4 md:mt-0">
                        <h1 class="text-2xl ramabhadra-regular text-[#1C1E53]">EXPERTISE</h1>

                        <p class="mt-3 ramabhadra-regular text-[#1C1E53] text-justify">
                            Erovoutika is a respected and experienced Automation and Robotics Company. 
                            Our highly professional team, with in-depth knowledge of each jurisdiction, has been successfully deliver customer needs.
                        </p>
                    </div>
                </div>

                <div class="md:flex md:items-start md:-mx-4 mt-10">
                    <img src={SecurityIcon.src} alt="Security Icon" class="w-[60px] h-[60px]">
                    <div class="mt-4 md:mx-4 md:mt-0">
                        <h1 class="text-2xl ramabhadra-regular text-[#1C1E53]">CONFIDENTIALITY</h1>
                        <p class="mt-3 ramabhadra-regular text-[#1C1E53] text-justify">
                            Confidentiality is one of the most important aspects of our work. We guarantee the privacy of our customers.                        </p>
                    </div>
                </div>

                <div class="md:flex md:items-start md:-mx-4 mt-10">
                    <img src={LikeIcon.src} alt="Like Icon" class="w-[60px] h-[60px]">
                </img>
                    <div class="mt-4 md:mx-4 md:mt-0">
                        <h1 class="text-2xl ramabhadra-regular text-[#1C1E53]">COMPREHENSIVE SUPPORT</h1>

                        <p class="mt-3 ramabhadra-regular text-[#1C1E53] text-justify">
                            Our Mission is to provide quality services and maximum support for all our clients/companies. 
                            No matter how simple or particular your needs are, our experienced team can help you so much more than the expected service output.                        </p>
                    </div>
                </div>
                <div class="md:flex md:items-start md:-mx-4 mt-10">
                    <img src={DollarIcon.src} alt="Dollar Icon" class="w-[60px] h-[60px]"></img>
                </img>
                    <div class="mt-4 md:mx-4 md:mt-0">
                        <h1 class="text-2xl ramabhadra-regular text-[#1C1E53]">COMPETITIVE PRICES</h1>

                        <p class="mt-3 ramabhadra-regular text-[#1C1E53] text-justify">
                            Erovoutika Services guarantee no hidden fees with a wide selection of quality services.
                             We are able to offer prices that are transparent, intermediary free, and among the most competitive.</p>
                    </div>
                </div>
            </div>
    </div>