
---
const title = "Join the ROBOLUTION!"
const body = "Be part of Robolution Dubai 2025, a global event uniting innovators from multiple countries in robotics, automation, and cybersecurity. Connect, compete, and collaborate with a diverse international community!"
const button = "Register Now"
---
<!-- font style roboto link -->
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">

<div class="flex flex-col items-center justify-center min-h-[437px] px-10 py-20">
    <section class="w-full max-w-[1280px] flex flex-col items-center gap-8 text-center">
        
        <h2 class="text-[70px] font-bold tracking-tight leading-[110%] text-gray-900 dark:text-black font-[Roboto]">
          {title}
        </h2>
      
        
        <p class="text-[20px] max-w-[790px] leading-[160%] text-black-700 dark:text-black-100 font-[Roboto]">
          {body}
        </p>
      
        <div class="flex flex-row justify-center items-center gap-4 font-[Roboto]">

        <!-- Add href for the button -->

          <a href="" class="flex flex-row justify-center items-center w-[247px] h-[64px] text-white bg-[#1A5CB5] border-2 border-[#1A5CB5] rounded-full shadow-[0_25px_50px_-12px_rgba(0,0,0,0.25),0_0_15px_rgba(0,0,0,0.07)] transition-all duration-300 hover:bg-blue-700">
            <span class="text-[24px] font-bold tracking-wide"> {button} </span>
          </a>
        </div>
      </section>
      
  </div>
  
  
  