---
import { Image } from "astro:assets";
import logo from "../assets/images/Erovoutika Dubai logo.png";
import path from "path";

const navigationItems = ["Home", "News", "Trainings", "Tournaments"];
const pages = [
{ name: 'Home', path: '/Home'},
{ name: 'News', path: '/News'},
{ name: 'Trainings', path: '/Trainings'},
{ name: 'Tournaments', path: '/Tournaments'}
]
---

<header class="bg-[rgba(47,21,115,0.4)]">
  <div class="mx-auto max-w-screen-xl px-4 sm:px-6 lg:px-8">
    <div class="flex h-16 items-center justify-between">
      <div class="flex-1 md:flex md:items-center md:gap-12">
        <Image src={logo} class="h-16 w-55" alt="Logo" />
      </div>

      <div class="md:flex md:items-center md:gap-12">
        <nav aria-label="Global" class="hidden md:block">
          <ul class="flex items-center gap-6 text-md">
            {navigationItems.map((item) => (
              <li>
                <a href="#" class="text-white transition hover:text-blue-500">
                  {item}
                </a>
              </li>
            ))}
          </ul>
        </nav>

        <div class="flex items-center gap-4">
          <div class="sm:flex sm:gap-4">
            <div class="hidden sm:flex">
              <a class="rounded-[60px] bg-white px-5 py-2.5 text-md font-medium text-blue-950" href="#">
                Register Now
              </a>
            </div>
          </div>
          <!-- 
          <div class="block md:hidden">
            <button class="inline-block rounded-sm bg-white p-2 text-blue-950 transition hover:text-blue-500">
              <svg xmlns="http://www.w3.org/2000/svg" class="size-5" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M4 6h16M4 12h16M4 18h16" />
              </svg>
            </button>-->
        </div>
      </div>
    </div>
  </div>
</header>
