---
import logo from '../assets/logo.png';
---


<!-- for navbar -->
<header class="bg-[#00008B]">
	<div class="mx-auto max-w-screen-l px-4 sm:px-6 lg:px-15">
	  <div class="flex h-20 items-center justify-between">
		<div class="flex-1 md:flex md:items-center md:gap-12">

			<img id = "logo" src={logo.src} alt="Avatar Logo" style="width:130px;" >
		  </a>
		</div>
  
		<div class="md:flex md:items-center md:gap-12">
		  <nav aria-label="Global" class="hidden md:block">
			<ul class="flex items-center text-2xl space-x-4">
				<li>
					<a class="text-white poppins-medium rounded-[17px] border-white transition px-4 py-2 text-white hover:bg-white hover:text-[#00008B] focus:ring-3 focus:outline-hidden transition hover:text-[#00008B]" href="#"> Home </a>
				  </li>
			  <li>
				<a class="text-white poppins-medium rounded-[17px] border-white transition px-4 py-2 text-white hover:bg-white hover:text-[#00008B] focus:ring-3 focus:outline-hidden transition hover:text-[#00008B]" href="#"> News </a>
			  </li>
  
			  <li>
				<a class="text-white poppins-medium rounded-[17px] border-white transition px-4 py-2 text-white hover:bg-white hover:text-[#00008B] focus:ring-3 focus:outline-hidden transition hover:text-[#00008B]" href="#"> Trainings and Tournaments </a>
			  </li>
  
			  <li>
				<a class="text-white poppins-medium rounded-[17px] border-white transition px-4 py-2 text-white hover:bg-white hover:text-[#00008B] focus:ring-3 focus:outline-hidden transition hover:text-[#00008B]" href="#"> Awards </a>
			  </li>
  
			  <li>
				<a class="text-white poppins-medium rounded-[17px] border-white transition px-4 py-2 text-white hover:bg-white hover:text-[#00008B] focus:ring-3 focus:outline-hidden transition hover:text-[#00008B]" href="#"> About </a>
			  </li>
  
			</ul>
		  </nav>

		  </div>
		</div>
	  </div>
	</div>
  </header>