<div
    class="flex flex-col justify-center items-center m-[100px] p-5 gap-y-[20px] w-[50%] min-w-fit sm:mx-auto bg-amber-200"
>
    <div
        class="flex lg:flex-row sm:flex-col justify-center p-10 gap-y-10 lg:gap-20 h-fit w-fit bg-purple-600"
    >
        <div class="rounded-[45px] min-w-[600px] h-[312px] bg-[#F3F3F3]">
            <div
                class="grid grid-cols-3 w-full h-full justify-center items-center p-7 gap-5"
            >
                <div class="bg-orange-300 col-span-2 w-full h-full">
                    <h1>Lorem ipsum dolor sit amet.</h1>
                </div>
                <!-- <div class="bg-green-300 w-fill h-full"></div> -->
                <div
                    class="bg-blue-300 row-span-2 w-full h-full rounded-[45px]"
                >
                </div>
                <div
                    class="flex flex-col items-start p-4 gap-4 bg-red-300 col-span-2 w-full h-full"
                >
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Duis posuere nulla nulla, id maximus eros suscipit sed.
                        Maecenas mollis ex at tortor luctus ultricies. Sed vitae
                        scelerisque turpis.
                    </p>
                    <button class="w-10 h-10 bg-white rounded-4xl">test</button>
                </div>
            </div>
        </div>
        <div class="rounded-[45px] min-w-[600px] h-[312px] bg-[#FDE68A]">
            <div
                class="grid grid-cols-3 w-full h-full justify-center items-center p-7 gap-5"
            >
                <div class="bg-orange-300 col-span-2 w-full h-full">
                    <h1>Lorem ipsum dolor sit amet.</h1>
                </div>
                <!-- <div class="bg-green-300 w-fill h-full"></div> -->
                <div
                    class="bg-blue-300 row-span-2 w-full h-full rounded-[45px]"
                >
                </div>
                <div
                    class="flex flex-col items-start p-4 gap-4 bg-red-300 col-span-2 w-full h-full"
                >
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Duis posuere nulla nulla, id maximus eros suscipit sed.
                        Maecenas mollis ex at tortor luctus ultricies. Sed vitae
                        scelerisque turpis.
                    </p>
                    <button class="w-10 h-10 bg-white rounded-4xl">test</button>
                </div>
            </div>
        </div>
    </div>

    <div
        class="flex lg:flex-row sm:flex-col justify-center p-10 gap-y-10 lg:gap-20 h-fit w-fit bg-emerald-300"
    >
        <div class="rounded-[45px] min-w-[600px] h-[312px] bg-[#6AAAFF]">
            <div
                class="grid grid-cols-3 w-full h-full justify-center items-center p-7 gap-5"
            >
                <div class="bg-orange-300 col-span-2 w-full h-full">
                    <h1>Lorem ipsum dolor sit amet.</h1>
                </div>
                <!-- <div class="bg-green-300 w-fill h-full"></div> -->
                <div
                    class="bg-blue-300 row-span-2 w-full h-full rounded-[45px]"
                >
                </div>
                <div
                    class="flex flex-col items-start p-4 gap-4 bg-red-300 col-span-2 w-full h-full"
                >
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Duis posuere nulla nulla, id maximus eros suscipit sed.
                        Maecenas mollis ex at tortor luctus ultricies. Sed vitae
                        scelerisque turpis.
                    </p>
                    <button class="w-10 h-10 bg-white rounded-4xl">test</button>
                </div>
            </div>
        </div>
        <div class="rounded-[45px] min-w-[600px] h-[312px] bg-[#F3F3F3]">
            <div
                class="grid grid-cols-3 w-full h-full justify-center items-center p-7 gap-5"
            >
                <div class="bg-orange-300 col-span-2 w-full h-full">
                    <h1>Lorem ipsum dolor sit amet.</h1>
                </div>
                <!-- <div class="bg-green-300 w-fill h-full"></div> -->
                <div
                    class="bg-blue-300 row-span-2 w-full h-full rounded-[45px]"
                >
                </div>
                <div
                    class="flex flex-col items-start p-4 gap-4 bg-red-300 col-span-2 w-full h-full"
                >
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Duis posuere nulla nulla, id maximus eros suscipit sed.
                        Maecenas mollis ex at tortor luctus ultricies. Sed vitae
                        scelerisque turpis.
                    </p>
                    <button class="w-10 h-10 bg-white rounded-4xl">test</button>
                </div>
            </div>
        </div>
    </div>
    <div class="flex justify-center h-fit w-fit p-10 gap-20 bg-purple-400">
        <div
            class="rounded-[45px] lg:w-[1280px] lg:h-[312px] sm:min-w-[600px] sm:h-[312px] align-center bg-[#F3F3F3] overflow-hidden"
        >
            <div class="grid grid-cols-5 items-stretch">
                <div class="bg-yellow-300 h-20">01</div>
                <div class="bg-red-300 h-20">01</div>
                <div class="bg-blue-300 h-20">01</div>
                <div class="bg-orange-300 h-20">01</div>
                <div class="bg-purple-300 h-20">01</div>
                <div class="bg-amber-300 h-20">01</div>
                <div class="bg-violet-300 h-20">01</div>
                <div class="bg-green-300 h-20">01</div>
                <div class="bg-teal-300 h-20">01</div>
                <div class="bg-yellow-300 h-20">01</div>
                <div class="bg-fuchsia-700 h-20">01</div>
                <div class="bg-yellow-300 h-20">01</div>
                <div class="bg-yellow-500 h-20">01</div>
                <div class="bg-fuchsia-700 h-20">01</div>
                <div class="bg-yellow-800 h-20">01</div>
                <div class="bg-yellow-300 h-20">01</div>
                <div class="bg-red-300 h-20">01</div>
                <div class="bg-blue-300 h-20">01</div>
                <div class="bg-orange-300 h-20">01</div>
                <div class="bg-purple-300 h-20">01</div>
            </div>
        </div>
    </div>
</div>
