---
let packageDetails = [
    {
        package1: {
            name: "Conference",
            description:
                "Join experts and innovators for discussions, panels, and networking on robotics, automation, cybersecurity, and R&D, shaping the future of technology.",
            buttonText: "test",
        },
    },
    {
        package2: {
            name: "Conference",
            description:
                "Join experts and innovators for discussions, panels, and networking on robotics, automation, cybersecurity, and R&D, shaping the future of technology.",
            buttonText: "test",
        },
    },
    {   
        package3: {
            name: "Conference",
            description:
                "Join experts and innovators for discussions, panels, and networking on robotics, automation, cybersecurity, and R&D, shaping the future of technology.",
            buttonText: "test",
        },
    },
    {
        package4: {
            name: "Conference",
            description:
                "Join experts and innovators for discussions, panels, and networking on robotics, automation, cybersecurity, and R&D, shaping the future of technology.",
            buttonText: "test",
        },
    },
    
];
---

<div
    class="flex flex-col justify-center items-center m-[100px] p-5 gap-y-[20px] w-[50%] min-w-fit sm:mx-auto bg-amber-200"
>
    <div
        class="flex lg:flex-row sm:flex-col justify-center p-10 gap-y-10 lg:gap-20 h-fit w-fit bg-purple-600"
    >
        <!--item 1 -->
        <div class="rounded-[45px] w-[600px] h-[312px] bg-[#F3F3F3]">
            <div
                class="grid grid-cols-2 w-full h-full justify-center items-center p-7 gap-30"
            >
                <!-- <div class="bg-green-300 w-fill h-full"></div> -->

                <div
                    class="flex flex-col items-start p-4 gap-4 bg-red-300 w-[306px] h-fit"
                >
                    <div class="bg-orange-300 px-[7px] w-fit h-full rounded-lg">
                        <h1 class="font-bold text-3xl leading-10">
                            Conference
                        </h1>
                    </div>
                    <p>
                        Join experts and innovators for discussions, panels, and
                        networking on robotics, automation, cybersecurity, and
                        R&D, shaping the future of technology.
                    </p>
                    <button class="w-20 h-10 bg-white rounded-xl">test</button>
                </div>

                <div class="bg-blue-300 w-[210px] h-[264px] rounded-[45px]">
                </div>
            </div>
        </div>

        <!--item 2 -->
        <div class="rounded-[45px] max-w-[600px] h-[312px] bg-[#FDE68A]">
            <div
                class="grid grid-cols-2 w-full h-full justify-center items-center p-7 gap-30"
            >
                <div
                    class="flex flex-col items-start p-4 gap-4 bg-red-300 w-[306px] h-fit"
                >
                    <div class="bg-orange-300 px-[7px] w-fit h-full rounded-lg">
                        <h1 class="font-bold text-3xl leading-10">
                            Conference
                        </h1>
                    </div>
                    <p>
                        Join experts and innovators for discussions, panels, and
                        networking on robotics, automation, cybersecurity, and
                        R&D, shaping the future of technology.
                    </p>
                    <button class="w-20 h-10 bg-white rounded-xl">test</button>
                </div>

                <div class="bg-blue-300 w-[210px] h-[264px] rounded-[45px]">
                </div>
            </div>
        </div>
    </div>

    <div
        class="flex lg:flex-row sm:flex-col justify-center p-10 gap-y-10 lg:gap-20 h-fit w-fit bg-emerald-300"
    >
        <!--item 3 -->
        <div class="rounded-[45px] max-w-[600px] h-[312px] bg-[#6AAAFF]">
            <div
                class="grid grid-cols-2 w-full h-full justify-center items-center p-7 gap-30"
            >
                <div
                    class="flex flex-col items-start p-4 gap-4 bg-red-300 w-[306px] h-fit"
                >
                    <div class="bg-orange-300 px-[7px] w-fit h-full rounded-lg">
                        <h1 class="font-bold text-3xl leading-10">
                            Conference
                        </h1>
                    </div>
                    <p>
                        Join experts and innovators for discussions, panels, and
                        networking on robotics, automation, cybersecurity, and
                        R&D, shaping the future of technology.
                    </p>
                    <button class="w-20 h-10 bg-white rounded-xl">test</button>
                </div>

                <div class="bg-blue-300 w-[210px] h-[264px] rounded-[45px]">
                </div>
            </div>
        </div>
        <!--item 4 -->
        <div class="rounded-[45px] max-w-[600px] h-[312px] bg-[#F3F3F3]">
            <div
                class="grid grid-cols-2 w-full h-full justify-center items-center p-7 gap-30"
            >
                <div
                    class="flex flex-col items-start p-4 gap-4 bg-red-300 w-[306px] h-fit"
                >
                    <div class="bg-orange-300 px-[7px] w-fit h-full rounded-lg">
                        <h1 class="font-bold text-3xl leading-10">
                            Conference
                        </h1>
                    </div>
                    <p>
                        Join experts and innovators for discussions, panels, and
                        networking on robotics, automation, cybersecurity, and
                        R&D, shaping the future of technology.
                    </p>
                    <button class="w-20 h-10 bg-white rounded-xl">test</button>
                </div>

                <div class="bg-blue-300 w-[210px] h-[264px] rounded-[45px]">
                </div>
            </div>
        </div>
    </div>
    <div
        class="relative flex justify-center items-center h-fit w-fit p-10 gap-20 bg-purple-400"
    >
        <h2 class="absolute text-5xl font-bold">test</h2>
        <div
            class="rounded-[45px] lg:w-[1280px] lg:h-[312px] sm:min-w-[600px] sm:h-[312px] align-center bg-[#F3F3F3] overflow-hidden"
        >
            <div class="grid grid-cols-5 items-stretch">
                <div class="bg-yellow-300 h-20">01</div>
                <div class="bg-red-300 h-20">01</div>
                <div class="bg-blue-300 h-20">01</div>
                <div class="bg-orange-300 h-20">01</div>
                <div class="bg-purple-300 h-20">01</div>
                <div class="bg-amber-300 h-20">01</div>
                <div class="bg-violet-300 h-20">01</div>
                <div class="bg-green-300 h-20">01</div>
                <div class="bg-teal-300 h-20">01</div>
                <div class="bg-yellow-300 h-20">01</div>
                <div class="bg-fuchsia-700 h-20">01</div>
                <div class="bg-yellow-300 h-20">01</div>
                <div class="bg-yellow-500 h-20">01</div>
                <div class="bg-fuchsia-700 h-20">01</div>
                <div class="bg-yellow-800 h-20">01</div>
                <div class="bg-yellow-300 h-20">01</div>
                <div class="bg-red-300 h-20">01</div>
                <div class="bg-blue-300 h-20">01</div>
                <div class="bg-orange-300 h-20">01</div>
                <div class="bg-purple-300 h-20">01</div>
            </div>
        </div>
    </div>
</div>
