<div class="flex-col h-100% m-[100px] p-5 gap-y-[20px] bg-amber-200">
    <div class="flex     justify-center h-full w-full p-10 gap-20 bg-purple-600">
        <div class="rounded-[45px] w-[600px] bg-[#F3F3F3]"></div>
        <div class="rounded-[45px] w-[600px] h-[312px] bg-[#FDE68A]"></div>
    </div>

    <div class="flex justify-center h-fit w-full p-10 gap-20 bg-emerald-300">
        <div class="rounded-[45px] w-[600px] h-[312px] bg-[#6AAAFF]"></div>
        <div class="rounded-[45px] w-[600px] h-[312px] bg-[#F3F3F3]"></div>
    </div>
    <div class="flex justify-center h-fit w-full p-10 gap-20 bg-purple-400">
        <div
            class="rounded-[45px] flex w-[1280px] h-[312px] align-center bg-[#F3F3F3]"
        >
        </div>
    </div>
</div>
