---
import background from '../assets/about_bg.png';
import logo from '../assets/logo.png';
import card from '../assets/Rectangle.png';
---

<!-- for navbar -->
<header class="bg-[#00008B]">
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">

	<div class="mx-auto max-w-screen-l px-4 sm:px-6 lg:px-15">
	  <div class="flex h-20 items-center justify-between">
		<div class="flex-1 md:flex md:items-center md:gap-12">

			<img id = "logo" src={logo.src} alt="Avatar Logo" style="width:130px;" >
		  </a>
		</div>
  
		<div class="md:flex md:items-center md:gap-12">
		  <nav aria-label="Global" class="hidden md:block">
			<ul class="flex items-center text-2xl space-x-4">
				<li>
					<a class="text-white font-[poppins] rounded-[17px] border-white transition px-4 py-2 text-white hover:bg-white hover:text-[#00008B] focus:ring-3 focus:outline-hidden transition hover:text-[#00008B]" href="#"> Home </a>
				  </li>
			  <li>
				<a class="text-white font-[poppins] rounded-[17px] border-white transition px-4 py-2 text-white hover:bg-white hover:text-[#00008B] focus:ring-3 focus:outline-hidden transition hover:text-[#00008B]" href="#"> News </a>
			  </li>
  
			  <li>
				<a class="text-white font-[poppins] rounded-[17px] border-white transition px-4 py-2 text-white hover:bg-white hover:text-[#00008B] focus:ring-3 focus:outline-hidden transition hover:text-[#00008B]" href="#"> Trainings and Tournaments </a>
			  </li>
  
			  <li>
				<a class="text-white font-[poppins] rounded-[17px] border-white transition px-4 py-2 text-white hover:bg-white hover:text-[#00008B] focus:ring-3 focus:outline-hidden transition hover:text-[#00008B]" href="#"> Awards </a>
			  </li>
  
			  <li>
				<a class="text-white font-[poppins] rounded-[17px] border-white transition px-4 py-2 text-white hover:bg-white hover:text-[#00008B] focus:ring-3 focus:outline-hidden transition hover:text-[#00008B]" href="#"> About </a>
			  </li>
  
			</ul>
		  </nav>

		  </div>
		</div>
	  </div>
	</div>
  </header>
<!-- end navbar -->

<article class="relative top-[140px] left-[100px] overflow-hidden h-[420px] w-[500px] rounded-[35px] transition hover:shadow-lg">
	<img id = "card" src={card.src} alt="" fetchpriority="high"
	  class="absolute inset-0 h-[584px] w-[639px]"
	/>
  
	<div class="relative  pt-30 sm:pt-30 lg:pt-10">
	  <div class="p-4 sm:p-6">
		<a href="#">
		  <h3 class="mt-0.5 text-xl text-white font-[Ramabhadra]">Our aim is to assist our clients in getting their nees and requirement in the quickest possible time frame, in the most professional manner. We pride ourselves on providing the </h3>
		</a>
		<p class="mt-2 line-clamp-3 text-5xl text-white font-[Ramabhadra]">
			highest quality service, at the most reasonable cost.
		</p>
	  </div>
	</div>
  </article>

<!-- for background -->
<div id="container">
	<img id="background" src={background.src} alt="" fetchpriority="high" />

</div>

<style>
	#background {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
	}
</style>
