---
// import getDbData from "@/components/db";
// await getDbData();

import Nav from "../components/navbar.astro";
import Banner from "../components/Home/Banner.astro";
import Footer1 from "../components/Home/Footer1.astro";
import "./src/styles/global.css";

const { title } = Astro.props;
---

<!doctype html>
<html lang="en" class="dark">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
        <link
            href="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.css"
            rel="stylesheet"
        />
    </head>
    <body>
        <div id="banner">
            <Banner />
        </div>
        <Nav />
        <slot />
        <!-- <button onclick=`${connectDB}`>button </button> -->
        <Footer1 />
    </body>
    <script
        is:inline
        src="https://cdn.jsdelivr.net/npm/flowbite@3.0.0/dist/flowbite.min.js"
    ></script>
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            const toggleButton = document.getElementById("toggleBannerButton");
            const banner = document.getElementById("banner");
            const bannerState = localStorage.getItem("bannerVisibility");

            if (banner) {
                // Apply the saved state from localStorage
                if (bannerState === "hidden") {
                    banner.style.display = "none";
                    if (toggleButton)
                        toggleButton.style.backgroundColor = "red"; // Off state
                } else {
                    banner.style.display = "block";
                    if (toggleButton)
                        toggleButton.style.backgroundColor = "green"; // On state
                }
            }

            if (toggleButton && banner) {
                toggleButton.addEventListener("click", () => {
                    if (banner.style.display === "none") {
                        banner.style.display = "block";
                        toggleButton.style.backgroundColor = "green"; // On state
                        localStorage.setItem("bannerVisibility", "visible"); // Save state
                    } else {
                        banner.style.display = "none";
                        toggleButton.style.backgroundColor = "red"; // Off state
                        localStorage.setItem("bannerVisibility", "hidden"); // Save state
                    }
                });
            } else {
                console.error("Toggle button or banner not found.");
            }
        });
    </script>
</html>

<style>
    html,
    body {
        margin: 0;
        width: 100%;
        height: 100%;
    }
</style>
