---
import Nav from '../components/Nav.astro';
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro Basics</title>
    <link
      href="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <Nav/>
    <slot />
  </body>
  <script
    is:inline
    src="https://cdn.jsdelivr.net/npm/flowbite@3.0.0/dist/flowbite.min.js"
  ></script>
</html>
